@model IEnumerable<Shop.Models.Product>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Nazwa - @product.Opis - @product.Img</li>
    }
</ul>
